body{
    font-family: ãƒ¡ã‚¤ãƒªã‚ª;
	font-size: 13px;
	margin: 0;
	line-height: 1.5;
	background-color: #ffffff;
}

#imgdiv{
    text-align:center;
    padding-top:30px;
    padding-bottom:10px;
}

.mb-4{
    width: 300px;
	height: 70px;
}

.login{
    text-align:center;
    color: #9E8FFD;
}

.form-floating{
    text-align:center;
    display: block;
    margin-bottom: 10px;
    font-size: .9em;
}

.form-control{
    width: 400px;
    padding: 8px 10px;
    border: 1px solid #969da3;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.5;
    padding-top:10px;
    padding-bottom:10px;
    font-size:25px;
}

.Button{
    position: absolute;/*ボタンの位置に関する処理*/
    bottom: 100px;/*ボタンの下からの距離感*/
    display: block;/*不明*/
    width: 350px;/*横幅*/
    background-image: linear-gradient(to top, #4b187b 0%, #9E8FFD 100%);/*背景色*/
    color: #fff;/*文字の色*/
    border: 1px solid #9E8FFD;/*外枠の色*/
    border-radius: 30px;/*外枠角の丸み*/
    text-decoration: none;/*不明*/
    line-height: 1.5;/*ボタンの縦の長さ*/
	padding-top:10px;/*文字の上側の余白の長さ*/
    padding-bottom:10px;/*文字の下側の余白の長さ*/
    font-size: 25px;/*文字サイズ*/
    text-align: center;/*ボタンを真ん中に配置*/
    left: 50%;/*ボタンの位置に関する処理*/
    line-height: 30px;/*ボタンの位置に関する処理*/
    transform: translateX( -50%);/*ボタンの位置に関する処理*/
}

hr {
    width: 80%;
    border: none;
    border-top: 2px dotted black;
}

.err{
    margin-left:0px;
}

.errmsg{
    color: red;
    text-align: center;
    font-size: 25px;
}

.login-id{
    color: #9E8FFD; /*色を変えてます*/
    position: relative;/*文字の位置を変える準備です*/
    left: 160px;/*文字を左から160px動かしてます*/
    font-size: 30px;/*文字のサイズを変える*/
}

.login-pass{
    color: #9E8FFD;
    position: relative;
    left: 160px;/*画面サイズを変えると場所が変わる　先生に聞く*/
    font-size: 30px;
}